.a1{
background-color:blue;
text-align:center;
color:red;
}

.a2{
background-color:grey;
text-align:center;
color:red;
}


#a3{
background-color:yellow;
text-align:center;
color:red;
}

